:global .center_icon {
  position: absolute;
  left: calc(50% - 4.03646vw);
  width: 8.07292vw;
  height: 9.58333vw;
  font-size: 9.58333vw;
  font-weight: 700;
  transform: scale(0.15) translateY(-50%);
  transform-origin: 50% 0%;
  z-index: 100;
  color: #fff;
  &.is-black {
    color: #000;
  }
}

:global .top-sec.is-blended .pin-spacer {
  mix-blend-mode: difference;
}

:global .bottom-sec {
  display: flex;
  height: calc(9.58333vw + 300px);
}

:global .bottom_cont {
  display: flex;
  justify-content: center;
  gap: 9.58333vw;
  width: 100%;
}

.bottom_item {
  display: flex;
  width: 50%;
  font-size: 9.58333vw;
  font-weight: 800;
  margin-top: 150px;
}

.bottom_item_left {
  justify-content: flex-end;
}

:global .middle-sec {
  text-align: center;
  font-size: 0;
  padding-top: 100px;

  canvas {
    width: 100%;
    height: 900px;
  }
}

:global .blur_box {
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 99999;
  transition: opacity 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
}

:global .canvas-image {
  width: 100vw;
  height: 100vh;

  > div {
    width: 100%;
    height: 100%;
  }
}
