.container {
  position: relative;
  height: 100%;
  background-color: #fff;
}

.black-trigger {
  padding-top: 150px;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32vw;
  height: 32vw;
  border-radius: 100%;
  background-color: #c5fcfc;
  mix-blend-mode: difference;
  filter: blur(100px);
  z-index: 999;
  pointer-events: none;
  transform: scale(0);
}
