:global .and_wrap {
  width: 100%;
  text-align: center;
}

:global .title_list {
  text-align: center;
}

:global .title_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .item {
    display: flex;
    width: 50%;
    font-size: 3vw;
    line-height: 1;
    letter-spacing: -3px;
    font-weight: 800;

    &.left {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .image {
    max-width: 8vw;
    height: 0.55em;
  }
}
